$default-nav-height: 3.25rem;
$default-brand-size: 1.75rem;
$size: 45px;

// Colors
$blue: #184b7a;
$deep-blue: #006b94;
$dark-blue: #004869;
$light-gray: #d4ccc9;
$light-green: #56aa9c;

$fmartins: #fcaf17;
