@import 'node_modules/bulma/bulma';
@import './_fonts';
@import './_variables';
@import './sections/main';
@import './sections/resources';
@import './sections/gallery';
@import './sections/media';
@import './sections/location';
@import './sections/contact';

#map {
  height: 100%;
}

.title,
.subtitle {
  text-transform: uppercase;
}

.title {
  font-family: 'marlenregular';

  &.is-super {
    font-size: 8.5em;
    color: white;
  }
}

.subtitle {
  font-family: 'hk_grotesklight';
  letter-spacing: 5px;

  &.is-super {
    font-size: 2em;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: white;
  }
}

p {
  font-family: 'hk_groteskmedium';
}

figure {

  figcaption {
    color: $blue;
    font-family: 'hk_grotesklight';
  }
}

.footer {
  padding: 2rem;
  background-color: white;

  .columns {

    .column {
      
      p,
      strong,
      small,
      p strong {
        color: $deep-blue;
      }
    }

    .column:last-child {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        margin: 0 1rem;
      }
    }
  }
}

.created-by {
  padding: .5rem;

  a {
    color: #4a4a4a;
  }
}
