#location {

  .columns {

    .column {
      padding: 2rem;

      .tabs-content {

        img {
          margin: 0 auto;
        }
      }

      .tabs {

        ul {

          li {
            font-size: 1.5em;
            font-family: 'hk_groteskbold';
            cursor: pointer;
            margin: 0 .5em;

            .title,
            .subtitle {
              color: $blue;
              font-family: 'hk_groteskbold';
            }

            .subtitle {
              font-family: 'hk_grotesklight';
              text-transform: lowercase;
              letter-spacing: 0;
              display: flex;
              justify-content: flex-end;

              .sup {
                font-size: 1rem;
              }
            }
          }

          li.is-active {

            .subtitle {
              color: #66b0a3;
            }
          }
        }
      }
    }
  }
}