#media {
  background-color: $deep-blue;

  .columns {
    height: 60vh;

    .column:first-child {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }

  .title {
    font-size: 4.5em;
  }

  .title,
  .subtitle,
  p {
    color: white;
  }
}