section.section#contact
  .columns
    .column.is-10.is-offset-1
      .columns
        .column.has-text-centered.is-7
          h2.subtitle Formulário para
          h1.title Contato
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo soluta, magnam voluptatum consectetur maxime asperiores, assumenda voluptate, rem vero repellat consequatur ab eius iste! Consectetur veniam, rem atque sunt consequuntur.
        .column.is-5
          form(action="")
            .field
              p.control
                input(type="text", placeholder="Nome").input
            .field
              p.control
                input(type="text", placeholder="Telefone").input
            .field
              p.control
                input(type="text", placeholder="Email").input
            .field
              p.has-text-right
                button(type="submit").button.is-white Enviar