section.section#contact
  .container
    .columns
      .column
        .columns
          .column.has-text-centered
            h2.subtitle Formulário para
            h1.title Contato
            p Fale com nossos corretores para ter mais informações, 
              br
              |tirar dúvidas e fazer o seu melhor investimento.
          .column.is-2
          .column.is-5
            form(action="")
              .field
                p.control
                  input(type="text", placeholder="Nome").input
              .field
                p.control
                  input(type="text", placeholder="Telefone").input
              .field
                p.control
                  input(type="text", placeholder="Email").input
              .field
                p.has-text-right
                  button(type="submit").button.is-white Enviar
          .column.is-1