footer.footer
  .container
    .columns
      .column
        p 
          small O edifício não será entregue com móveis e equipamentos, são apenas ilustrações para visualização dos espaços.
        p 
          small Registro da Incorporação registrado sob nº 04 da Matrícula 84.987 do CRI Poá/SP
      .column
        figure
          img(src="assets/images/perez-imoveis.png", alt="logotipo construtora").image
        p 
          strong 11 4634.9300 
          | | perez@perez.imb.br | perezimoveis.imb.br 
          br
          strong Incorporação e Vendas Perez Imóveis - CRECI 21.379-J
.created-by.has-text-centered
  a(href="//agfmartins.com.br", target="_blank")
    img(src="assets/images/fmartins.png", alt="logotipo F martins") 
    |
    | F|Martins Comunicação Integrada
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9g6mtFvJjZUirNL0IO7KL4ggVzZIOi3c")