section.section.has-text-centered#gallery
	h1.title Galeria de fotos
	img(src="http://placehold.it/150x150", alt="")
	img(src="http://placehold.it/150x150", alt="")
	img(src="http://placehold.it/150x150", alt="")
	img(src="http://placehold.it/150x150", alt="")
	img(src="http://placehold.it/150x150", alt="")
	img(src="http://placehold.it/150x150", alt="")
	img(src="http://placehold.it/150x150", alt="")