section.section.has-text-centered#gallery
	h1.title Galeria de fotos
	img(src="assets/images/ACADEMIA.jpg", alt="")
	img(src="assets/images/BRINQUEDOTECA.jpg", alt="")
	img(src="assets/images/EDIFÍCIO-1.jpg", alt="")
	img(src="assets/images/EDIFÍCIO-2.jpg", alt="")
	img(src="assets/images/PET_PLAY.jpg", alt="")
	img(src="assets/images/SALAO_FESTA.jpg", alt="")