.hero#location
  .columns.is-gapless
    .column
      .tabs.is-left.is-boxed
        ul
          li.is-active.has-text-right
            h1.title.is-4 2 Dormitórios
            h2.subtitle 63,
              .sup 49m²
      .tabs-content.has-text-centered.has-text-centered
        img(src="assets/images/3-dormitorios.png", alt="ilustracao planta imovel 3 dormitórios").image
        
    .column
      .tabs.is-left.is-boxed
        ul
          li.has-text-right.is-active
            h1.title.is-4 3 Dormitórios
            h2.subtitle.is-5 70,
              .sup 25m²
      .tabs-content.has-text-centered.has-text-centered
        img(src="assets/images/2-dormitorios.png", alt=" ilustraçã planta imovel 2 dormitórios").image