.hero#media
  .hero-body  
    .container
      .columns
        .column.has-text-centered
          h2.subtitle Excelente para investir
          h1.title Perfeito para morar
          .content
            p Com uma ótima localização no centro cidade, você desfruta de todo o conforto, segurança e praticidade de ter um apartamento próprio de alta qualidade.
            p Não perca a oportunidade de fazer o melhor investimento para você e sua família. Compre seu apartamento na planta e garanta o futuro dos seus sonhos!
        .column
          img(src="http://placehold.it/600x380", alt="")