.hero#media
  .columns.is-gapless
    .column.has-text-centered
      h1.title O melhor investimento
      h2.subtitle para você e sua familia
      .content
        p Com uma ótima localização no centro cidade, você desfruta de todo o conforto,
          br 
          | segurança e praticidade de ter um apartamento próprio de alta qualidade.
        p Não perca a oportunidade de fazer o melhor investimento para você e sua família.
          br 
          | Compre seu apartamento na planta e garanta o futuro dos seus sonhos!
    .column
      #map
      