section.section#resources
  .columns
    .column.is-8.is-offset-2
      .columns.is-multiline
        -var qtd = {1: 'Varanda Gourmet', 2: 'Playground', 3: 'Salão Gourmet', 4: 'Solário', 5: 'Brinquedoteca', 6: 'Churrascaria', 7: 'Garagem', 8: 'Espaço Esportivo', 9: 'Piscina Infantil e Adulta', 10: 'Vestiários', 11: 'Academia', 12: 'Pet Plat'}
        for caption, index in qtd
          .column.is-2
            figure.has-text-centered
              img(src="assets/images/ICONE-"+index+".png", alt="")
              figcaption
                =caption