extends layouts/app
block content
  .logo-float.is-hidden-mobile
    span.icon
      i.fa.fa-close
    img(src="assets/images/LOGO_PEREZ_IMOVEIS.jpg", alt="logotipo perez imóveis").image
    p
      a(href="tel:+551146349300") 11 4634.9300
  .hero.is-fullheight#main
    .hero-head
      nav.nav
        .container
          .navbar-brand
            a(href="/").navbar-item
              img(src="assets/images/nav-logo.png", alt="logotipo")
          .navbar-burger.burger(data-target="navMenuTransparent")
            span
            span
            span
          .navbar-menu.is-hidden-mobile
            .navbar-end
              a.navbar-item(href="") Lazer
              a.navbar-item(href="") Ficha técnica
              a.navbar-item(href="") Galeria
              a.navbar-item(href="") Localização
              a.navbar-item(href="") Plantas
              a.navbar-item(href="") Fale com o corretor

      .navbar-menu#navMenuTransparent.is-hidden-desktop
            .navbar-end
              a.navbar-item(href="") Lazer
              a.navbar-item(href="") Ficha técnica
              a.navbar-item(href="") Galeria
              a.navbar-item(href="") Localização
              a.navbar-item(href="") Plantas
              a.navbar-item(href="") Fale com o corretor
              
    .main-banner
      .columns.main-columns
        .column.is-hidden-mobile
        .column.has-text-centered
            h2.subtitle.is-super Excelente para investir,
            h1.title.is-super Perfeito para morar
      .hero-foot.has-text-centered.is-hidden-mobile
        .scroll-down
          img(src="assets/images/mouse.png", alt="view more")
  
  include sections/resources

  include sections/gallery

  include sections/media

  include sections/location

  include sections/contact
  
  include sections/footer
