extends layouts/app
block content
  .hero.is-fullheight#main
    .hero-head
      header.nav
        .container
          .nav-left
            a(href="/").nav-item
              img(src="assets/images/nav-logo.png", alt="logotipo")
          .nav-right
            .nav-item
              .contact-item
                a(href="#contact") Fale com um
                  |
                  |
                  span corretor
    .hero-body.has-text-centered
      .container
        h2.subtitle.is-super Excelente para investir,
        h1.title.is-super Perfeito para morar
    .hero-foot.has-text-centered
      .scroll-down
        img(src="assets/images/mouse.png", alt="view more")
  
  include sections/resources

  include sections/gallery

  include sections/media

  include sections/location

  include sections/contact
  
  include sections/footer
